
.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.platform{
  height: 100%;
}
.grid-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 30% 70%;
  min-height:15vh;
  /* height: 90vh; */
}

 main section:first-child{
  /* grid-column: 30% 70%; */
  /* background-color: yellow; */
  /* z-index: 0; */
}

.status{
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

table{
  width: 100%;
}
/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */

.member-service{
  display: grid;
}
th, td {
  /* padding: 5px; */
  text-align: left;
}
.member-privileges{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.card-profile-picture{
  display: grid;
  place-items: center;
  text-align: center;
}

.record-container{
  text-align: center;
}

.camera_capture {
  border-color: rgba(0,0,0,0.5);
  border-radius: 50px;
  z-index: 1;
  position: relative;
  margin: -20px -20px;
  padding: 0.6em;
  background-color: #fff;
}

.camera_center{
  text-align: center;
}

tr.checked-in-user-table-status {
  color: #9B2C2C;
  background: #FED7D7 !important;
  border-bottom: 1px solid indianred;
  border-top: 1px solid indianred;
}

tr.checked-in-user-table-status:hover {

  background: #fbc3c3 !important;

}



.fixed_header{
  width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody tr{
  background-color: white;
}

.fixed_header tbody tr:hover {
  cursor: pointer;
  background-color: RGBA(0, 0, 0, 0.04);
}


.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 64vh;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
} 

.fixed_header thead {
    background: black;
    color:#fff;
  }

  .status_header{
    width:100px !important;
  }

.status_cell {
  padding: 0 4% !important;
  /* width: 100px !important; */
  }

.unrecognized{
  /* background-color: #FED7D7; */
}
.member-cell{

}
